<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.esias">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Publications" />
        <activity android:name=".TimeTablePG"
            android:noHistory="true"/>
        <activity android:name=".TimeTable"
            android:noHistory="true"/>
        <activity android:name=".UGPGTTSelection"
            android:noHistory="true"/>
        <activity android:name=".UGPGQPSelection"
            android:noHistory="true"/>
        <activity android:name=".UGPGSelection"
            android:noHistory="true"/>
        <activity android:name=".SyllabusPG"
            android:noHistory="true"/>
        <activity android:name=".QuestionPaperPG"
            android:noHistory="true"/>
        <activity android:name=".OnlineClass"
            android:noHistory="true"/>
        <activity android:name=".QuestionPaper"
            android:noHistory="true"/>
        <activity android:name=".Syllabus"
            android:noHistory="true"/>
        <activity android:name=".NotificationReceiver" />
        <activity android:name=".WebViewOne"
            android:noHistory="true"/>
        <activity android:name=".PublicActivity" />
        <activity android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>